*.sh
*.zip
*.ipynb
_*
_*.py
_*.out
*.log

__pycache__
nohup.out
logs
.vscode
*tmp*
*test*

# ==============================

v1_*.py
v2_*.py

openai_apikey.py
self_generate.py
total_keywords.txt

pretrained_model
saved_model
flagged
data_spider_lh
data_spider_lzf
qa_generater_zjdou
workspace
dataspace
